    <% @courses.each do |course| %>
      <tr>
        <td><%= course.code %></td>
        <td><%= course.title %></td>
        <td><%= course.description %></td>
        <td><%= course.credits %></td>
        <td><%= link_to 'Edit', edit_course_path(course), remote: true, class: "btn btn-primary " %></td>
        <td><%= link_to 'Delete', course_delete_path(course), remote: true, class: "btn btn-danger" %></td>
      </tr>
    <% end %>